body{
    text-align: center;
    background-image: url('./sources/fondo2.jpg');
    background-repeat: no-repeat ;
    background-position: center;
    /* background-size: cover; */

}
h1{
    color: white;
    font-size: 40px;
    text-decoration: solid;

}
#separator{
  
    width: 100%;
    border-top:3px solid  aliceblue;

}
#container{
    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.project{
    width:250px;
    height: 150px;
    margin:10px 30px 50px 30px;
}
.project:hover{
    display: inline;
}
img{
    width:250px;
    height: 150px;
    border: 2px solid rgb(252, 251, 246);
    border-radius: 25px;
}
img:hover{
   box-shadow: 2px 2px 5px 5px rgba(241, 187, 7, 0.8);
   cursor: pointer;
}
.tooltip{
    background-color: rgb(238, 231, 139);
    z-index: 10000000;
    position: absolute;
    
}