body{
    text-align: center;
}
li{
    list-style: none;
}
#container{
    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.project{
    width:250px;
    height: 150px;
    margin:10px 20px 10px 20px;
}
.project:hover{
    display: inline;
}
img{
    width:250px;
    height: 150px;
    border: 2px solid black;
    border-radius: 25px;
}
img:hover{
   box-shadow: 2px 2px 5px 5px rgba(241, 187, 7, 0.8);
   cursor: pointer;
}
.tooltip{
    background-color: rgb(238, 231, 139);
    z-index: 10000000;
    position: absolute;
    
}